/* gerneral */
section {
  padding: 50px 0;
}

/* carousel */
.carousel-background {
  height: 0;
  padding-bottom: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide1 {
  background-image: url(../img/26.jpg);
}

.slide2 {
  background-image: url(../img/29.jpg);
}

.slide3 {
  background-image: url(../img/03.jpg);
}

/* carousel */
